.container-fluid {
	background-color: #4c2877;
	height: 100%;
	min-height: 100vh;
	color: #E2E6EA;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#icons {
	margin-top: 5px;
}

#header {
	margin-top: 15px;
}

#copy-to-clipboard{
	margin-right: 5px;
}

#icons:hover {
	cursor: pointer;
}

.copyable {
	text-indent: -1.2em;
	white-space: pre-wrap;
	margin-bottom: 15px;
}

.copyable:hover {
	font-weight: bold;
}

#copy-to-clipboard:active, #clear:active {
	transform: translateY(4px);
}

#underneath {
	display: flex;
	justify-content: space-between;
}

#text-results {
	margin-top: 20px;
}